# Database
database.sqlite
database.sqlite-shm
database.sqlite-wal

# Build Folders
bin/
obj/
out/

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Mac
.DS_Store

# NuGet
*.nupkg
packages/
.nuget/

# Logs
*.log

# Test Results
TestResults/
*.trx
*.coverage
*.coveragexml
